.DS_Store
Thumbs.db

Pods/
Podfile.lock

build/
VaccineAvailability.xcodeproj/project.xcworkspace/xcuserdata/
VaccineAvailability.xcodeproj/xcuserdata/

VaccineAvailability.xcworkspace/project.xcworkspace/xcuserdata/
VaccineAvailability.xcworkspace/xcuserdata/

.idea
VaccineAvailability.xcodeproj/xcshareddata

